#login-form {
  height: 400px;
  width: 300px;
  margin: 50px auto;
  /* outline: 1px solid red; */
  text-align: center;
}

#login-form label {
  font-size: 20px;
}

#login-form input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 38px;
  margin-top: 12px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

#login-form button {
  border-radius: 5px;
  padding: 4px 8px;
}
